In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine=create_engine('mysql+pymysql://root:123456@localhost:3306/boss',encoding="utf8")
sql="select * from 51table"
df=pd.read_sql_query(sql,engine)

In [6]:
# df.columns
salary_data = df.loc[lambda df:df["salary"]!="" ,:]["salary"][:-3]
last_flag = df.loc[lambda df:df["salary"]!="" ,:]["salary"].str[-3:]
df.groupby("salary",as_index=False).mean()

         salary           id
0                4219.897959
1    0.3-1.2万/月  6828.000000
2    0.3-1.5万/月  6985.000000
3    0.4-1.2万/月  1081.500000
4    0.4-1.5万/月   926.500000
..          ...          ...
405    8-8.5千/月  4555.000000
406      8-9千/月  3418.363636
407   8.4-12万/年  1807.000000
408    8.5-9千/月   135.000000
409     9-15万/年  7230.000000

[410 rows x 2 columns]

In [28]:
df.loc[lambda df:df["salary"]=="" ,:]["salary"] = df.loc[lambda df:df["salary"]!="" ,:]["salary"]

4
6
7
14
15
       ..
7555
7556
7557
7558
7559
Name: salary, Length: 196, dtype: object

In [51]:
df.loc[lambda df:df["salary"]!="" ,:]["salary"].str[-3:]

0       万/月
1       万/月
2       万/月
3       万/月
5       万/月
       ...
7651    万/年
7652    千/月
7653    千/月
7654    万/月
7655    万/月
Name: salary, Length: 7460, dtype: object

3.33